@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap');


.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #161420;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.40);
}

.box h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 7800;
    font-size: 24px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #7b1ff5;
    padding: 14px 10px;
    width: 100%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s ease;
    font-weight: 400;
    letter-spacing: 1px;

}

.box input[type="submit"] {
    margin-top: 10px;
}

.box input::placeholder {
    color: #513e74;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.box input[type="submit"] {
    border: 0;
    background: #5807c2;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 100%;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.5s ease;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.box input[type="submit"]:hover {
    background: #7b1ff5;
}

.forgot {
    text-transform: uppercase;
    margin: 10px;
    font-size: 14px;
    color: #513e74;
    letter-spacing: 3px;
    transition: 0.3s;
}

.forgot:hover {
    color: #7b1ff5;
    transition: 0.3s ease;
    cursor: pointer;

}
